<mat-card class="example-card">
  <mat-card-title fxLayoutAlign="space-between center">
    <span>Your Services</span>
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-5 mb-5">

      <div style="width: 200px;" fxLayout="column" fxLayoutAlign="space-around center">
        <span class="material-icons m-2">
          queue_play_next
        </span>
        <span class="m-2">TV</span>
        <a href="" mat-button>Add Service</a>
      </div>
      <div style="width: 200px;" fxLayout="column" fxLayoutAlign="space-between center">
        <span class="material-icons m-2">
          perm_scan_wifi
        </span>
        <span class="m-2">INTERNET</span>
        <a href="" mat-button>Add Service</a>
      </div>
      <div style="width: 200px;" fxLayout="column" fxLayoutAlign="space-between center">
        <span class="material-icons m-2">
          settings_phone

        </span>
        <span class="m-2">HOME PHONE</span>
        <a href="" mat-button>Add Service</a>
      </div>
      <div style="width: 200px;" fxLayout="column" fxLayoutAlign="space-between center">
        <span class="material-icons m-2">
          settings_cell
        </span>
        <span class="m-2">MOBILE</span>
        <a href="" mat-button>Add Service</a>
      </div>
      <div style="width: 200px;" fxLayout="column" fxLayoutAlign="space-between center">
        <span class="material-icons m-2">
          admin_panel_settings
        </span>
        <span class="m-2">SECURITY</span>
        <a href="" mat-button>Add Service</a>
      </div>
      <div style="width: 200px;" fxLayout="column" fxLayoutAlign="space-between center">
        <span class="material-icons m-2">
          mark_as_unread
        </span>
        <span class="m-2">EMAIL</span>
        <a href="" mat-button>Add Service</a>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
      <button mat-flat-button>View Upgraders</button>
      <button mat-flat-button color="primary">View Plans</button>

    </div>
  </mat-card-content>
</mat-card>
