<!-- <mat-grid-list cols="3" rowHeight="375px">
  <mat-grid-tile>
    <app-widget [data]="internetTvBill"></app-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-widget [data]="mobileBill"></app-widget>
  </mat-grid-tile>
  <mat-grid-tile><app-widget [data]="notification"></app-widget></mat-grid-tile>
  <mat-grid-tile colspan="2">
    <app-avail-services></app-avail-services>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-widget [data]="notification"></app-widget>
  </mat-grid-tile>
</mat-grid-list> -->


<div class="container" style="height: 200px; border: 1px solid black; margin-top: 10px;border-radius: 10px; ">
  <app-notification></app-notification>

</div>
